<div class="container">
  <h1>Chỉnh sửa Metafield cho Villa: <%= @villa.name %></h1>
  
  <div class="card">
    <div class="card-header">
      <h5>Thông tin Metafield</h5>
    </div>
    <div class="card-body">
      <%= render 'form' %>
    </div>
  </div>
</div>
