<div class="container mx-auto px-4 py-8">
  <div class="max-w-3xl mx-auto">
    <div class="mb-8">
      <h1 class="text-2xl font-bold">Chỉnh sửa Filter Field</h1>
    </div>

    <%= render 'form', filter_field: @filter_field %>
  </div>
</div>
